<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--*************************************************************************************-->
    <!-- bean definitions here -->
    <!--Autowiring constructor(byType)-->
    <bean id="e1" class="myPackage.Engine" c:modelName="2015"/>
    <bean id="e2" class="myPackage.Engine" c:modelName="2016" autowire-candidate="false"/>

    <bean id ="b" class = "Bus" c:busName="TATA" autowire="constructor"/>
    <!--There is a chance for ambiguity in constructor autowiring-->
    <!--*************************************************************************************-->

</beans>