<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="c" class="myPackage.Car">
        <lookup-method name="myCarEngine" bean="carEngineBean"/>
    </bean>
    <bean id="carEngineBean" class="myPackage.Engine">
        <property name="name" value="Swift"/>
    </bean>

    <bean id="b" class="Bus">
        <lookup-method name="myBusEngine" bean="busEngineBean"/>
    </bean>
    <bean id="busEngineBean" class="myPackage.Engine">
        <property name="name" value="Tata"/>
    </bean>

    <bean id="t" class="Truck">
        <lookup-method name="myTruckEngine" bean="truckEngineBean"/>
    </bean>
    <bean id="truckEngineBean" class="myPackage.Engine">
        <property name="name" value="Ashok"/>
    </bean>


</beans>