<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id ="t" class = "MyTest">
        <constructor-arg value="prasad@testmail.com" index="2"/>
        <constructor-arg value="Prasad" index="0"/>
        <constructor-arg value="12" index="1"/>
    </bean>
    <!--scope by default is singleton-->
</beans>