<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id ="t" class = "Test">
        <property name="fruits">
            <list>
                <value>banana</value>
                <value>apple</value>
            </list>
        </property>
        <property name="cricketers">
            <set>
                <value>sachin</value>
                <value>sehwag</value>
                <value>sachin</value>
            </set>
        </property>
        <property name="countryToCapital">
            <map>
                <entry key="india" value="delhi"/>
                <entry key="pakistan" value="islamabad"/>
            </map>
        </property>

    </bean>
    <!--scope by default is singleton-->
</beans>